body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

.logo {
  width: 120px;
  margin-top: 50px;
}

h2 {
  margin: 40px 0;
}

.btn {
  padding: 15px 30px;
  margin: 15px;
  border: 2px solid purple;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn, .buy-btn {
  background-color: red;
  color: white;
}

.btn:hover {
  box-shadow: 0 0 10px purple;
    }
